<div class="spacer clearfix"></div>
<section class="login-area">
    <div class="container-fluid">
        <h2 class="text-center all-title">Reset Password</h2>
        <div class="spacer clearfix"></div>
        <div class="login-inner-box">
            <div class="ui inverted dimmer" [ngClass]="activeClass" id="workerBrowseLoader"><div class="ui loader"></div></div>
            <div [hidden]="submitted">
                <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
                    <div class="form-group">
                        <input type="password" class="form-control" name="pwd"  [(ngModel)]="pwdModel" #pwd="ngModel" placeholder="Enter Password" required>
                        <div  class="emailinvalid" *ngIf="pwd.invalid && pwd.touched">
                              <div  *ngIf="pwd.hasError('required')" class="alert alert-danger">
                                Please enter password.
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="cpwd"  [(ngModel)]="cpwdModel" #cpwd="ngModel" placeholder="Enter Confirm Password" required>
                        <div  class="emailinvalid" *ngIf="cpwd.invalid && cpwd.touched">
                              <div  *ngIf="cpwd.hasError('required')" class="alert alert-danger">
                                Please enter confirm password.
                            </div>
                        </div>
                    </div>
                    <div *ngIf="err_msg">{{err_msg}}</div>
                    <div class="text-center"><button type="submit" class="btn btn-yellow btn-bold" [disabled]="!Form.form.valid">SUBMIT</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="spacer clearfix"></div>