<div class="spacer clearfix"></div>
<section class="login-area" *ngIf="AllLanguage">
	<div class="container-fluid">
		<h2 class="text-center all-title">{{'FORGOT_YOUR_PASSWORD' | translate:AllLanguage}}</h2>
		<div class="spacer clearfix"></div>
		<div class="login-inner-box">
			<div class="ui inverted dimmer" [ngClass]="activeClass" id="workerBrowseLoader"><div class="ui loader"></div></div>
			<div [hidden]="submitted">
				<form (ngSubmit)="onSubmit(forgotForm)" #forgotForm="ngForm">
					<div class="form-group">
						<input type="email" class="form-control" email name="emailField"  [(ngModel)]="model.email" #emailField="ngModel" placeholder="{{'EMAIL_PLACEHOLDER' | translate:AllLanguage}}">
						<div *ngIf="is_email_not_exist==1">{{err_msg}}</div>
						<div  class="emailinvalid" *ngIf="emailField.invalid && emailField.touched">
							<div  *ngIf="emailField.hasError('email')" class="alert alert-danger">
								{{'EMAIL_ERROR_MSG' | translate:AllLanguage}}
							</div>
						</div>
					</div>
					<div class="text-center"><button type="submit" class="btn btn-yellow btn-bold" [disabled]="!forgotForm.form.valid">{{'SUBMIT' | translate:AllLanguage}}</button></div>
				</form>
			</div>
		</div>
	</div>
</section>
<div class="spacer clearfix"></div>